* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.website-container {
    width: 100%;
}

/* Header */
.header {
   background: linear-gradient(90deg, #005e4a, #33a897);
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 1.1rem;
}

.navbar a:hover {
    color: #ffdd57;
    text-shadow: 0px 0px 6px #ffdd57;
}